body {
  font-family: Arial, sans-serif;
  background-image: url(assets/mathback.jpg);
}

h1 {
  text-align: center;
  margin-top: 30px;
  text-decoration: underline;
  color: rgb(251, 250, 249);
}

h2 {
  text-align: center;
  margin-top: 10px;
  color: white;
  text-decoration: underline;
}

.calculadora {
  width: 314px;
  margin: 0 auto;
  background-color: #000000;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#pantalla {
  width: 90%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
}

input[type="button"] {
  width: 70px;
  height: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  background-color: #eee;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #ddd;
}

input[type="button"]:last-child {
  margin-right: 0;
}

.container {
  background-color: #000000; /* Color de fondo del contenedor */
  border: 2px solid #4CAF50; /* Color y grosor del borde */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidad */
  max-width: 400px; /* Ancho máximo del contenedor */
  margin: 20px auto; /* Centra el contenedor en la página */
  text-align: center; /* Centra el texto dentro del contenedor */
}